/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter";
  --additional-font: "PressStart2P";
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --background-color: white;
  --themes-main-color: black;
  --color-heart: #ff0000;
  --like-color: white;
  --background-image: repeating-linear-gradient(
      -90deg,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
}